<div class="web-list-item">
	{% set today = dataent.utils.getdate(dataent.utils.nowdate()) %}
	<a href = "{{ doc.route }}/">
		<div class="row">
			<div class="col-sm-6 text-left small bold" style="margin-top: -3px;"">
				<span class="indicator
				{% if dataent.utils.getdate(doc.admission_end_date) == today %}
					red
				{% elif dataent.utils.getdate(doc.admission_end_date) > today >= dataent.utils.getdate(doc.admission_start_date)%}
					green
				{% elif dataent.utils.getdate(doc.admission_start_date) > today %}
					blue
				{% else %}
					darkgrey
				{% endif  %}
				">{{ doc.title }}</span>
			</div>
			<div class="col-sm-3 small">
				<span class="text-muted">
					Starts on
				</span>
				<div class="text-muted bold">
					{{ dataent.format_date(doc.admission_start_date) }}
				</div>
			</div>
			<div class="col-sm-3 small">
				<span class="text-muted">
					Ends on
				</span>
				<div class="bold">
					{{ dataent.format_date(doc.admission_end_date) }}
				</div>
			</div>
		</div>
	</a>
</div>